certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
contextlib2==21.6.0
docopt==0.6.2
idna==3.6
internetarchive==3.6.0
jsonpatch==1.33
jsonpointer==2.4
requests==2.31.0
schema==0.7.5
tqdm==4.66.1
urllib3==2.1.0
python-dotenv==1.0.0
